
body, div, form, p, h1, h2, h3, h4, h5 {
  font-family:'Montserrat' !important;
}
@media (min-width: 992px) {
  #africa-loggo {
    /*width:100px;*/
    /*height:150px;*/
    padding-top:100px;
  }
}

@media (max-width: 575px) {
  .first-heading {
    font-size:30px;
  }
}

@media (min-width: 1200px) {
  .youtube_video {
    height:450px;
  }
}

@media (max-width: 1199px) {
  .youtube_video {
    height:450px;
  }
}

@media (max-width: 575px) {
  .youtube_video {
    height:100%;
  }
}

@media (max-width: 767px) {
  .youtube_video {
    height:100%;
  }
}

@media (max-width: 767px) {
  .percentage_width {
    /*width:80%;*/
    /*margin-left:10%;*/
    /*margin-right:10%;*/
  }
}

#divWithPrice {
  /*width:60%;*/
  border-color:yellow;
  border:3px solid yellow;
}

#location {
  background-color:#fcbc12;
  margin-top:0%;
  margin-bottom:0%;
}

#date {
  margin-bottom:0%;
}

#price {
  width:20%;
  /*float:left;*/
  color:yellow;
}

.objectiveAndSpeakers {
  /*width:45%;*/
  background-color:#fcbc12;
  border-radius:5%;
  text-align:center;
}

.objectiveAndSpeakersContainingDiv {
  width:50%;
  /*text-align:center;*/
  margin-left:20%;
}

.title {
  color:#fcbc12;
  font-family:'Montserrat';
}

.objectives {
  margin-bottom:10%;
}

#content-col {
  padding-left:10%;
  padding-top:10%;
  font-family:'Montserrat';
}

#givenDate {
  color:#fcbc12;
  font-family:'Montserrat';

}

#locationOfTalk {
  color:white;
}

#registerButton {
  width:100%;
  margin-top:15%;
}

#image {
  /*height:100%;*/
}

.nameOfSpeaker {
  color:#fcbc12;
  font-family:'Montserrat';
}

.titleofSpeaker {
  color:white;
}

.divContainingSpeakers {
}

#speakersHeading {
  color:#fcbc12;
  font-family:'Montserrat';
}

#topicsHeading {
  color:#fcbc12;
  font-family:'Montserrat';
}

.topicsForDiscussion {
  color:#fcbc12;
  font-family:'Montserrat';
}

.topicsDeepDive {
  color:white;
}nameOfSpeaker

.mainHead {
  margin-bottom:5%;
  margin-top:5%;
}

