/* Code for customization for Hosea ONLY */
.why-africa-bigpicture-section{
    padding: 35px 5px 35px 5px;
    color:black;
}
.why-africa-bigpicture-div1{
    margin-bottom:35px;
}
.why-africa-mambo{
    margin-top:10px;
    font-size:2.5vh;
    font-family: 'Lato', sans-serif;
    color:white;
    padding:0px
  }
.why-africa-bigpicture-div2{
    margin-bottom:25px;
}
.why-africa-bigpicture-div3{
    opacity:0.8;
}
.why-africa-bigpicture-img1div{
    overflow: unset;
}
.why-africa-bigpicture-icon{
    height:110px;
    width:110px;
    opacity:0.8;
    border:blue; 

}
.why-africa-98percent{
    font-weight:700;
    font-size:5.5vh;
    margin-left:20px; 
    margin-top:50px;
}
.why-africa-highrate{
    margin-top:10px;
    /* opacity:0.5  */
}
.why-africa-19{
    font-weight:700;
    font-size:9.5vh
}
.eco{
    font-weight:lighter;
    border:3px solid #fff;
    border-right:transparent;
    padding:10px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    color:#00ff00bb
}

.gapp{
    font-weight:bold;
    border:3px solid #00ff00bb;
    border-left:transparent;
    padding:10px;
    border-bottom-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:5px
}
.fa-exclamation-triangle-style{
    color:red;
    opacity:0.5;
    font-size:12px
}
.solutionicon{
    width:16vh;
    margin:10px 0px 10px 0px;
}
.objectiveicon{
    height:15vh;
    width:15vh;
}
#objectiverow {
    padding:40px 0px 0px 0px;
}
.extra-bolder {
    font-weight:700;
  }

p {
  font-weight:lighter;
  color:white;
}

#ecosystemgap {
  padding-top:40px;
  text-align:left;
  font-size:35px;
  margin-bottom:40px
}

#solutionrow {
  padding-top:40px;
}

@media only screen and (max-width: 600px) {
h2 {
    text-align: center;
}

h3 {
  text-align: center;
}

}
  .ourwork-descriptor{
    font-weight:lighter;
    margin-top:0px;
    padding-bottom:60px;
    opacity:0.55;
    color:black;

  }
  .our-workheader{
    
  }
  .image-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .image-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lato', sans-serif;
    border-top:3px solid white;
    font-size:2.5vh;
    padding:5px;
    border-bottom:3px solid white;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.2s;
    color:white;
    font-weight:bold
  }
  
  .image-text-centered:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lato', sans-serif;
    border-left:3px solid white;
    font-size:2.5vh;
    padding:5px;
    transition: ease-in-out 0.2s;
    border-right:3px solid white;
    transform: translate(-50%, -50%);
  }
  .our-work-image{
    height:35vh;
    border-radius:3px;
    width:100%;
  }
  .ourworklink{
    text-decoration:none;
    color:#666666;
  }
  .image-text-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .image-text-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 5px ;
    color: white;
  }
  .image-text-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color:white;
  }
  
  .image-text-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size:2vh;
  }
  .image-text-bottom-right-2 {
    position: absolute;
    bottom: 19px;
    right: 16px;
    font-size:2vh;
    margin-left:2px;
  }
  .image-container {
    position: relative;
    text-align: center;
    color: white;
  }
@media only screen and (max-width: 600px) {
    .image-container {
        position: relative;
        text-align: center;
        color: white;
        padding-bottom: 10px;
      }
}
.our-work-superscript{
    color:white; 
    font-size:20px;
}
.our-work-superscript-2{
    font-size:10px;
    font-weight:light;
    color:white;
}
.side-text-def{
    font-weight: lighter;
    /* font-size:2.6vh; */
    /* margin-bottom:30px; */
  }
  .intern-program-div{
      height: 300px;
  }
  .intern-program-div-2{
    height: 300px;
}
  .intern-program-div-img{
    object-fit:cover;
    height:300px 
  }
  .benefits-text{
    padding: 50px 25px 15px 25px;
    height:300px;
}
.benefits-text-2{
    padding: 50px 25px 15px 25px;
    height:300px;
}
.benefits-text-heading{
    font-size: 27px !important;
    /* margin-bottom:10px; */
}
@media only screen and (max-width: 600px){
    .benefits-text{
        padding: 20px 10px 0px 10px;
        height:400px;
    }
    .benefits-text-2{
        padding: 20px 10px 0px 10px;
        height:430px;
    }
    .benefits-text-3{
        padding: 20px 10px 0px 10px;
        height:300px;
    }
}
.contenttt {
    display: none;
    background: #122742;
  }
  .contenttt-2 {
    display: none;
  }
  .urefu{
    min-height: 520px
  }
  .collapsible {
    /*background: #122742;*/
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .active, .collapsible:hover {
    background-color:none;
    border:none;
  }
  .bodda{
    padding:5px;
    border-radius:3px;
  }
  .descriptor-div{
      padding-bottom:0px;
  }


  /* This code overides the section color every where. Assign that section an id and add a color. by Kefa*/
  .section_cause{
    background-color: white ;
  }


  .p-cause{
    color:rgb(49, 47, 47) !important;
  }
  
  .p-cause-header {
    font-weight: 700;
  }

  /* .cause-div{
    padding-top:150px;
  }
  .collage-div{
    padding-top:10px;
  } */


  .cause-div-2{
    background: #eff3f9 !important;
    padding-bottom:10px;
    padding-top:10px;
  }
  .collage-img{
    height:auto;
    max-width:70%
  }
  /* .cause-div-3{
    padding-bottom:100px;
    padding-top:20px;
  } */
  #video-div{
    padding-top:40px;
  }
  .cause-vimeo-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  .cause-vimeo-video-div{
    padding:56.25% 0 0 0;
    position:relative;
  }
  .cause-div-4{
    background:#c4f09b!important;
  }
  .cause-card{
    height:300px;
    max-width: 18rem;
  }
  .cause-testimonial-img{
    border-radius: 50%;
    height: auto;
    max-width: 200px;
  }
  .inkind, .cash, .founder {
    background:white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    height:250px;
    transition: all 300ms ease-out;
    color:black;
    font-size:3.2vh;
    
    padding-top: 36px;
    border-radius:5px;
    text-decoration:none;
  }
  
  .lm {
    text-decoration: none;
    color:black;
  }
  
  
  
  .inkind:hover{
    background:#1d8b4b9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
    text-decoration: none;
  }
  
  
  
  .cash:hover{
    background:#8b211d9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
  
  }
  
  .founder:hover{
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    background:#8b841d9a; 
    font-size:3.2vh;
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
  
  }
  @media only screen and (max-width: 600px) {
    .inkind{
    background:#1d8b4b9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
    padding:25px 10px 25px 0px;
    padding-top: 36px;
    /* transition: all 300ms ease-out; */
    color:white;
    text-decoration: none;
    }
    .founder{
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    background:#8b841d9a; 
    font-size:3.2vh;
    padding:25px 10px 25px 0px;
    padding-top: 36px;
    /* transition: all 300ms ease-out; */
    color:white;
    }
    .cash{
    background:#8b211d9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    padding:25px 10px 25px 0px;
    padding-top: 36px;
    /* transition: all 300ms ease-out; */
    color:white;
    }
    .inkind:hover{
      background:#1d8b4b9a !important; 
      font-size:3.2vh;
      box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
      
      padding-top: 36px;
      /* transition: all 300ms ease-out; */
      color:white;
      text-decoration: none;
    }
    
    
    
    .cash:hover{
      background:#8b211d9a !important; 
      font-size:3.2vh;
      box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
      
      padding-top: 36px;
      /* transition: all 300ms ease-out; */
      color:white;
    
    }
    
    .founder:hover{
      box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
      background:#8b841d9a !important; 
      font-size:3.2vh;
      
      padding-top: 36px;
      /* transition: all 300ms ease-out; */
      color:white;
    
    }
  }
  .impact-icon{
    width: 120px;
    height:120px;
  }
  .card-hover:hover {
}
.Founder-title{
  font-family: Playfair Display;
  font-style: italic;
  color: #856001;

}
.Founder-title-2{
  font-family: Playfair Display;
  font-style: italic;
  color:#fde39f;

}
.founderpage-section{
  background: white;
  color: black;
}
#ForeImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width:100%;
}
.image-container{
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-button{
 background:  #fcd15b;
 color:white;
 border-radius: 25px;
}
.Founder-title-3{
  font-family: Playfair Display;
  font-style: italic;
  color:black;
}
.founderpage-section-2{
  background: #ffffff;
  color: black;
}
.founderpage-section-3{
  background: #f8f8f8;
  color: black;
 
}
.card-img-2{
 width: 180px;
 height: auto;
}
.foundersicon{
  width:80px;
  height: auto;
}
.alignicon-right{
  padding-left: 150px;
}
.alignicon-left{
  padding-left: 250px;
}
.foundercardimgbg{
  background: #fcd670;
  color:white;
}
.card-name{
  font-weight: bolder;
  margin-bottom: 0px;
}
.cardimg-3{
  width:150px;
  height:auto;
}
.overlaydiv{
  z-index: 0;
  position:relative;
}
