/* Code for customization for Hosea ONLY */
.why-africa-bigpicture-section{
    padding: 35px 5px 35px 5px;
    color:black;
}
.why-africa-bigpicture-div1{
    margin-bottom:35px;
}
.why-africa-mambo{
    margin-top:10px;
    font-size:2.5vh;
    font-family: 'Lato', sans-serif;
    color:black;
    padding:0px
  }
.why-africa-bigpicture-div2{
    margin-bottom:25px;
}
.why-africa-bigpicture-div3{
    opacity:0.8;
}
.why-africa-bigpicture-img1div{
    overflow: unset;
}
.why-africa-bigpicture-icon{
    height:110px;
    width:110px;
    opacity:0.8;
    border:blue; 

}
.why-africa-98percent{
    font-weight:700;
    font-size:5.5vh;
    margin-left:20px; 
    margin-top:50px;
}
.why-africa-highrate{
    margin-top:10px;
    /* opacity:0.5  */
}
.why-africa-19{
    font-weight:700;
    font-size:9.5vh
}

#why-africa {
  background: #dee2e7;
}
.eco{
    font-weight:lighter;
    border:3px solid #fff;
    border-right:transparent;
    padding:10px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    color:#00ff00bb
}

.gapp{
    font-weight:bold;
    border:3px solid #00ff00bb;
    border-left:transparent;
    padding:10px;
    border-bottom-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:5px
}
.fa-exclamation-triangle-style{
    color:red;
    opacity:0.5;
    font-size:12px
}
.solutionicon{
    width:16vh;
    margin:10px 0px 10px 0px;
}
.objectiveicon{
    height:15vh;
    width:15vh;
}
#objectiverow {
    padding:40px 0px 0px 0px;
}
.extra-bolder {
    font-weight:700;
  }

/* p {
  font-weight:lighter;
  color:white;
} */

#ecosystemgap {
  padding-top:40px;
  text-align:left;
  font-size:35px;
  margin-bottom:40px
}

#solutionrow {
  padding-top:40px;
}

@media only screen and (max-width: 600px) {
h2 {
    text-align: center;
}

h3 {
  text-align: center;
}

}
  .ourwork-descriptor{
    font-weight:lighter;
    margin-top:0px;
    padding-bottom:60px;
    opacity:0.55;
    color:black;
  }
  .image-container {
    position: relative;
    text-align: center;
    color: #fde39f;
    padding-bottom:0px !important; 
  }
  .image-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lato', sans-serif;
    border-top:3px solid white;
    font-size:2.5vh;
    padding:5px;
    border-bottom:3px solid white;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.2s;
    color:white;
    font-weight:bold
  }
  
  .image-text-centered:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lato', sans-serif;
    border-left:3px solid white;
    font-size:2.5vh;
    padding:5px;
    transition: ease-in-out 0.2s;
    border-right:3px solid white;
    transform: translate(-50%, -50%);
  }
  .our-work-image{
    height:35vh;
    border-radius:3px;
    width:100%;
  }
  .ourworklink{
    text-decoration:none;
    color:#666666;
  }
  .image-text-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .image-text-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 5px ;
    color: white;
  }
  .image-text-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color:white;
  }
  
  .image-text-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size:2vh;
  }
  .image-text-bottom-right-2 {
    position: absolute;
    bottom: 19px;
    right: 16px;
    font-size:2vh;
    margin-left:2px;
  }
  .image-container {
    position: relative;
    text-align: center;
    color: white;
  }
@media only screen and (max-width: 600px) {
    .image-container {
        position: relative;
        text-align: center;
        color: white;
        padding-bottom: 10px;
      }
}
.our-work-superscript{
    color:white; 
    font-size:20px;
}
.our-work-superscript-2{
    font-size:10px;
    font-weight:light;
    color:white;
}
.side-text-def{
    font-weight: lighter;
    /* font-size:2.6vh; */
    /* margin-bottom:30px; */
  }
  .intern-program-div{
      height: 300px;
  }
  .intern-program-div-2{
    height: 300px;
}
  .intern-program-div-img{
    object-fit:cover;
    height:300px 
  }
  .benefits-text{
    padding: 50px 25px 15px 25px;
    height:300px;
}
.benefits-text-2{
    padding: 50px 25px 15px 25px;
    height:300px;
}
.benefits-text-heading{
    font-size: 27px !important;
    /* margin-bottom:10px; */
}
@media only screen and (max-width: 600px){
    .benefits-text{
        padding: 20px 10px 0px 10px;
        height:400px;
    }
    .benefits-text-2{
        padding: 20px 10px 0px 10px;
        height:430px;
    }
    .benefits-text-3{
        padding: 20px 10px 0px 10px;
        height:300px;
    }
}
.contenttt {
    display: none;
    background: #122742;
  }

  .contenttt-2 {
    display: none;
  }

  .urefu{
    min-height: 520px
  }

  .collapsible {
    /*background: #122742;*/
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .active, .collapsible:hover {
    background-color:none;
    border:none;
  }
  .bodda{
    padding:5px;
    border-radius:3px;
  }
  .descriptor-div{
      padding-bottom:0px;
  }
  /* Diaspora CSS */
  .top-center{
    position: absolute;
    top: 60px;    
  }
  .diaspora-foreimg-text{
    font-family: 'Poppins';
    color:white;
  }
  .africanprintcontainer{
     text-align: center;
     background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/African\ Print\ 1.png");
      color: white;
    /* z-index: 12; */
  }
  .africanprintoverlaydiv{
    position: absolute;
    top:0px  !important;
    width:80vw;
    height:75vh;
    /* z-index: 10; */
    background-color:white;
    align-self: center;
    margin-left:50px;

  }
  .diasporavideosec{
    background-color: #f1f1f1;
  }
  .diasporaheader{
    font-family: 'Roboto';
    font-size: 40px;
    /* font-weight: lighter; */
  }
  .diasporaheader-2{
    font-family: 'Roboto';
    font-size:40px;
    opacity:0.8;
    line-height: 50px;
  }
  .foundercardimgbg-2{
    background: #fafafa;
    color:black;
  }
  .foundercardimgbg-1{
    background: white;
    color:black;
  }
  .cardimg-4{
    width:150px;
    height:auto;
    border-radius: 50%;
  }
  .card-testimonial-2{
    /* width: 80vw; */
    background-color:#fafafa;
    height: 310px; ;
    margin: auto;
    border-style: none;
  }
  .card-testimonial-1{
    /* width: 80vw; */
    background-color:white;
    height: 310px; ;
    margin: auto;
    border-style: none;
  }
  .p-diaspora-card{
    color:black !important;
    font-weight:bold;
    font-size: 20px;
    opacity: 0.7;
  }
  .giving-card{
    background-color:#fafafa;
    border-radius:6%;
    color:black;
    height: 396.5px;
    width:400px;
    padding:20px;
    margin:auto;
  }  
  .howto{
    font-size:13px;
    font-weight:lighter;
    line-height: 1.5;
  }


  /* This code overides the section color every where. Assign that section an id and add a color. by Kefa*/
  .section_cause{
    background-color: white ;
  }


  .p-cause{
    color:rgb(49, 47, 47) !important;
    /* font-weight: 300; */
    /* font-size: 16px; */
  }

  .p-smaller {
    font-size: 16px;
  }
  
  .p-cause-header {
    font-weight: 700;
  }
  .vp-center{
    display:inline !important;
  }

  /* .cause-div{
    padding-top:150px;
  }
  .collage-div{
    padding-top:10px;
  } */


  .cause-div-2{
    background: #eff3f9 !important;
  }

  .collage-img{
    height:auto;
    max-width:70%
  }
  /* .cause-div-3{
    padding-bottom:100px;
    padding-top:20px;
  } */
  #video-div{
    padding-top:40px;
  }
  .cause-vimeo-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  
 /* Vimeo CSS */
 

.responsive-video {
  height: 0;
  padding-top: 0px !important;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.responsive-video.widescreen {
  padding-bottom: 56.34%;
}
 
.responsive-video.vimeo {
  padding-top: 0;
}

.responsive-video embed, 
.responsive-video iframe, 
.responsive-video object, 
.responsive-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  position: absolute;
}








  .cause-div-4{
    background:#c4f09b!important;
  }
  .cause-card{
    height:300px;
    max-width: 18rem;
  }
  .cause-testimonial-img{
    border-radius: 50%;
    height: auto;
    max-width: 220px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  }
  .inkind, .cash, .founder {
    background:white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    height:250px;
    transition: all 300ms ease-out;
    color:black;
    font-size:3.2vh;
    
    padding-top: 36px;
    border-radius:5px;
    text-decoration:none;
  }
  
  .lm {
    text-decoration: none;
    color:black;
  }
  
  
  
  .inkind:hover{
    background:#1d8b4b9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
    text-decoration: none;
  }
  
  
  
  .cash:hover{
    background:#8b211d9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
  
  }
  
  .founder:hover{
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    background:#8b841d9a; 
    font-size:3.2vh;
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
  
  }
  .budget:hover{
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    background:#d87a0e9a; 
    font-size:3.2vh;
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:white;
  
  }
  @media only screen and (max-width: 600px) {

    .inkind{
    background:#1d8b4b9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
    padding:25px 10px 25px 0px;
    padding-top: 36px;
    /* transition: all 300ms ease-out; */
    color:white;
    text-decoration: none;
    }

    .founder{
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    background:#8b841d9a; 
    font-size:3.2vh;
    padding:25px 10px 25px 0px;
    padding-top: 36px;
    /* transition: all 300ms ease-out; */
    color:white;
    }

    .cash{
    background:#8b211d9a; 
    font-size:3.2vh;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
    padding:25px 10px 25px 0px;
    padding-top: 36px;
    /* transition: all 300ms ease-out; */
    color:white;
    }

    .inkind:hover{
      background:#1d8b4b9a !important; 
      font-size:3.2vh;
      box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
      
      padding-top: 36px;
      /* transition: all 300ms ease-out; */
      color:white;
      text-decoration: none;
    }

    .p-cause-header {
      font-size: 1.9rem;
      padding-top: 3.5rem;
    }
    
    
    
    .cash:hover{
      background:#8b211d9a !important; 
      font-size:3.2vh;
      box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
      
      padding-top: 36px;
      /* transition: all 300ms ease-out; */
      color:white;
    
    }
    
    .founder:hover{
      box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
      background:#8b841d9a !important; 
      font-size:3.2vh;
      
      padding-top: 36px;
      /* transition: all 300ms ease-out; */
      color:white;
    
    }
  }
  .impact-icon{
    width: 120px;
    height:120px;
  }
 
.Founder-title{
  font-family: Playfair Display;
  font-style: italic;
  color: #856001;

}
.Founder-title-2{
  font-family: 'Courgette';
  /* font-style: italic; */
  color:#fcd670;
  font-weight: 300;

}
.Founder-title-3{
  font-family: Playfair Display;
  font-style: italic;
  color:#645f71;
  font-weight: 10px;

}
.Founder-title-4{
  font-family: Playfair Display;
  font-style: italic;
  color:black;
  font-size: 8rems;

}
.contributions{
  color: white;
  opacity: 0.5 !important;
  font-size: 15px;
  /* line-height: 0.05px !important; */
}
.contribution{
  color: white;
  font-size: 25px !important;
  opacity: 0.8   !important;
  font-family: 'Pathway Gothic One';
}
.founderpage-section{
  background: white;
  color: black;
}
#ForeImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width:100%;
}
.image-container{
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-button{
 background: #fcd15b;
 border-radius: 50px;
 border: #fcd15b;
}
.Founder-title-3{
  font-family: Playfair Display;
  font-style: italic;
  color:#645f71;
}
.founderpage-section-2{
  background: #ffffff;
  color: black;
}
.founderpage-section-3{
  background: #f8f8f8;
  color: #333232; 
}
.founderpage-section-4{
  background: #f8f8f8;
  color: black;
  height:100vh;
 
}
.card-img-2{
 width: 180px;
 height: auto;
}
.foundersicon{
  width:80px;
  height: auto;
}
.alignicon-right{
  padding-left: 150px;
}
.alignicon-left{
  padding-left: 250px;
}
.foundercardimgbg{
  background: #fdf1d0;
  color:black;
}
.card-name{
  font-weight: bolder;
  margin-bottom: 0px;
}
.cardimg-3{
  width:150px;
  height:auto;
  border-radius: 50%;
}
.participateicon{
  width: 100px;
  height: auto;
  
}
.participateicons{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* .card-img{
  border-radius: 0px !important;
} */
.participarte{
  color: black !important;
}
.participarte-div{
  /* background:#ffffff;  */
  width:800px;
  height:auto;
  margin: auto;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  color:#fcd670; */
  font-weight: 900;
}
@media only screen and (max-width: 600px) {
  .participarte-div{
    /* background:#ffffff;  */
    width:300px;
    height:auto;
    margin: auto;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); */
    color:#fcd670;
    font-weight: 900;
  }
  .overlaydiv-2{
    background:#9d714b;
    width:auto !important;
    height:auto !important; 
    margin: auto;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); */
    color:#fcd670;
    font-weight: 900;
    padding-top:30px !important; 
    
  }
}
.overlaydiv{
  z-index: 1;
  position:absolute;
  background:#fcd670; 
  height:40vh;
  width: 46vw;
  left: 17vw;
  top:5vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  
}
.overlaydiv-2{
  background:#9d714b; 
  width:700px;
  height:350px;
  margin: auto;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); */
  color:#fcd670;
  font-weight: 900;
  padding-top:30px !important;  
}

.main-div{
  z-index: 0;
  position:relative;
  height:52vh;
  top:0px;
}  

.commitments{
  font-family: Playfair Display;
  font-style: italic;
  color:rgb(54, 54, 54);
  font-weight: 10px;
}
.champions-desccriptor{
  color:black !important;
}
.champions-card-body{
  background: #ddeeddbb;
}

.founderssec1{
  background-color: #fde39f;
}
.founders-heading1{
  color:#856001;
}
.foundersdescript{
  font-size:25px;
   /* font-weight: light; */
   color:black;
}
.whyfounders{
  font-size: 50px;
  font-weight:300;
}
.whybenefits{
  background-color:#ffffff;
  margin:auto;  
}
/* Card Hover 100 Founders */

/* .whyfounders-card, .impact-card, .legal-card, .budget-card {
  background:white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  height:250px;
  transition: all 300ms ease-out;
  color:black;
  font-size:3.2vh;
  
  padding-top: 36px;
  border-radius:5px;
  text-decoration:none;
}
.whyfounders-card:hover{
  background:#1d8b4b9a; 
  font-size:3.2vh;
  box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);  
  
  padding-top: 36px;
  transition: all 300ms ease-out;
  color:white;
  text-decoration: none;
}



.impact-card:hover{
  background:	#800080; 
  font-size:3.2vh;
  box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
  
  padding-top: 36px;
  transition: all 300ms ease-out;
  color:white;

}

.legal-card:hover{
  box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
  background:#1430ce9a; 
  font-size:3.2vh;
  
  padding-top: 36px;
  transition: all 300ms ease-out;
  color:white;

}
.budget-card:hover{
  box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
  background:#70f05f9a; 
  font-size:3.2vh;
  
  padding-top: 36px;
  transition: all 300ms ease-out;
  color:white;

} */
.iconcentered-whyfounders{
  align-self: center !important;
}
.card-testimonial{
  /* width: 80vw; */
  background-color: #fdf1d0;
  height: 310px; ;
  margin: auto;
  border-style: none;
}
@media only screen and (max-width: 600px){
    .card-testimonial{
      width: 80vw;
      /* background-color: white; */
      height: 720px;
    }
    .card-text-mobile{
      padding-left: 0px !important;
      padding-right:0px !important;
    }
    .mobilenopadding{
      padding: 0 !important;
    }
    .mobilenopadding-2{
      padding-bottom:10px !important;
    }
    .carousel-control-prev-icon{
      padding-right:30px !important;
    }
  .carousel-control-next-icon{
      padding-left:30px !important;
    }
    .mobile-size{
      font-size: 20px !important;
    }
    .mobile-size-1{
      font-size: 12px !important;
    }
    .founders-cause-btn{
      padding: 5px 10px 2px 10px !important;
    }
    .founders-sec-1{
      padding-top:0px !important;
    }
    .foundersdescript{
    font-size:19px;
    line-height: 40px;
    font-weight: 500
    }
    .foundersdescriptdiv{
      padding-top:0px !important;
      padding-bottom:0px !important;
    }
    .cause-vimeo-video{
      position:absolute;
      top:0;
      left:0;
      /* width:100%; */
      height:100%;
    }
    .cause-vimeo-video-div{
      padding:56.25% 0 0 0;
      position:relative;
      width:100vw;
      height:auto;
    }
}
.testimonial-sec{
  background-color: #fdf1d0;
 
}
.participate{
  background: white;
  width: 600px;
  height:auto;
}
.founderssec3{
  background-color: #fde39f;
}
.testimonials{
  line-height: 20px;
  font-size:14px;
  text-justify: auto;
}
  .whyfounders-card{
    /* background-color:rgb(40, 167, 69);  */
    /* font-size:3.2vh; */
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);   */
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:black;
    text-decoration: none;
  } 
  .impact-card{
    /* background-color:	 #0000ff;  */
    font-size:3.2vh;
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23); */
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:black;
  
  }
  
  .legal-card{
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23); */
    /* background-color:#ffff00;  */
    font-size:3.2vh;
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:black;
  
  }
  .budget-card{
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23); */
    /* background-color:ff0000;  */
    font-size:3.2vh;
    
    padding-top: 36px;
    transition: all 300ms ease-out;
    color:black;
  }


/* Impact Modal CSS */
.bg-cost-breakdown {
  background: white;
  color: #3a3a3a;
}
.card-founders-2 {
  background-color: #122742;
  border: none;
  /* padding: 32px */
  padding: 25px;
}
.card-border {
  /* box-shadow: 1px 1px 8px #504e4e; */
  width: 90%;
  border: 1px dotted rgba(136, 132, 132, 0.5);
}
.card-cost{
  background: #afcffa;
}
/* Mobile view CSS for 100 founders */

@media only screen and (max-width: 600px) {
    #ForeImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width:100%;
    }
    .Foreimgheader{
    font-family: Playfair Display;
    font-style: italic;
    color:#fcd670;
    font-weight: 300;
    font-size: 18px !important;
    }
    .alignicon-right{
      text-transform: capitalize;
      padding: unset;
    }   
    .alignicon-left{
      padding: unset;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .p-foundermob{
      padding-left:0px;
    }
    .h3Founders{
      text-align: left;
    }
    .overlaydiv{
      height:25vh;
      width: 85vw;
      left: 0;
      top:5vh;
    }
  .testimonialcardimg{
    width:250px;
    height: auto;
  }
  .p-founders{
    color:black !important;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
  }
  .commitments{
    font-size: 22px !important;
    font-family: Playfair Display;
    color:black;
    font-weight: 10px;
  }
  .main-div{
    z-index: 0;
    position:relative;
    height:40vh;
    top:0px;
  }  
}
#ForeImg-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  width:100%;
}
/* Smooth scroll css*/
html { scroll-behavior: smooth; } 



/* Kefa's custom code for 100 founders page */
.card-title-give {
  font-weight: 600;
  font-size: 17px;
  color: #333232;
}

.cta-give {
  font-size: 16px;
  color: #b98708;;
}

.p-account {
  font-size: 16px;
}

.img-online-transfer {
  width: 20%;
}

.img-heroes {
  width: 40%;

}

/* In kind CSS */
.conte{
  border:none;
  border-radius:10px;
  margin:10px;
  padding:10px;
}

.laini{
  border-bottom:1px solid lightgrey;
  margin:10px
}

.thank-you{
  font-family:'Raleway', sans-serif ;
  font-size:4.2vh;
  margin:15px;
  text-align: center
}

.request{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.0vh;
  
}


.shipping{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.click-hapa{
  font-size: 14px;
  opacity:0.6;  
}


.wozap{
  padding-right:18px 
}

.pepe{
  padding-left: 5px;
}

.contact-container{
  background:transparent;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  padding:5px;
}

.received{
    color:limegreen;
}


.mailing{
    color:maroon;
}

.whatsapping{
    color:limegreen;
}

.inquire{
  font-family: 'Comfortaa', sans-serif;
  opacity:0.5;
  font-size:14px;
  
}

.boda-botom{
  border-bottom: 1px solid grey;
}

.name-tagg{
  margin-bottom:10px;
}

.background-rangi{
  background-color:#122742;
  margin-bottom: 10px
}

.our-fellows{
  color:#fdc313;
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  font-size:5.5vh;
  margin-top:10px;
}

.mradi{
  font-size:5.5vh; 
  font-weight:bold;
  font-family:'Montserrat', sans-serif
}

.fellow-info{
  opacity: 0.9;
  color: black;
}

.bottom-space{
  margin-bottom:15px
}

.what-impact{
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size:4.2vh;
}
.net-name{
  font-weight:900;
  font-size:20px;
}


@media screen and (min-width: 300px) {
  .pdf-holder{
      width:320px;
      height:450px;  
      margin-left:-50px;
  }
}

@media screen and (min-width: 400px) {
  .pdf-holder{
      width:350px;
      height:350px;  
  }
}
@media screen and (min-width:800px){
  .pdf-holder{
      width:650px;
      height:700px;
      color:rgb(18, 39, 66);
  }
}

@media screen and (min-width:1500px){
  .pdf-holder{
      width:850px;
      height:900px;
  }
}
@media screen and (min-width:1800px){
  .pdf-holder{
      width:850px;
      height:800px;
  }
}
.mySlidess {display:none;}

/* Hover*/
.card-hover-approach:hover {
  background: rgba(5, 21, 36, 0.2);
  /* border: 1px dotted rgba(136, 132, 132, 0.5); */

}
.card-border-2 {
  /* box-shadow: 1px 1px 8px #504e4e; */
  width: 90%;
  border: 1px dotted rgba(136, 132, 132, 0.5);
}
.card-hover-impact:hover {
  background: rgba(33, 221, 42, 0.2);
  /* border: 1px dotted rgba(136, 132, 132, 0.5); */

}
.card-hover-impact-2:hover {
  background: rgba(5, 21, 36, 0.2);
  /* border: 1px dotted rgba(136, 132, 132, 0.5); */

}
.card-border-3 {
  /* box-shadow: 1px 1px 8px #504e4e; */
  width: 90%;
  /* border: 1px dotted rgba(136, 132, 132, 0.5); */
}
.card-hover-legal:hover {
  background: rgba(26, 8, 192, 0.2);
  /* border: 1px dotted rgba(136, 132, 132, 0.5); */

}
.card-hover-budget:hover {
  background: rgba(241, 245, 21, 0.2);
  /* border: 1px dotted rgba(136, 132, 132, 0.5); */

}

.bg-diaspora {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/sleepinggiant.jpg");

}

@media only screen and (max-width: 600px){
  .whyfounders-card{
    background: rgba(5, 21, 36, 0.2);
  }
  .impact-card{
    background: rgba(33, 221, 42, 0.2);
  }
  .legal-card{
    background: rgba(26, 8, 192, 0.2);
  }
  .budget-card{
    background: rgba(241, 245, 21, 0.2);
  }
}
