/* Code for customization for KEFA ONLY */

section {
    background: #122742;
    color: antiquewhite;
}

nav {
    background: #122742;
    border-bottom: antiquewhite;
    justify-content: space-around;
}

nav ul li a {
    color: antiquewhite;
}

nav ul li {
    padding-left: .9em;
    padding-right: .9em;
    font-weight: 600;
    font-size: 18px;
}

#ForeContent {
    background: #122742;
    height: 40vh;
    color:white;
    
}

#ForeImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#HeadingFore {
    font-weight: bolder;
    font-size: 42px;
}

#Heading5 {
    font-size: 24px ;
}

#Heading2 {
    font-weight: bolder;
    font-size: 38px;
}

#subheading2 {
    font-size: 25px;
    font-weight: bold;
}

#about {
    height: auto;
    padding-top: 128px;
    padding-bottom: 70px;
}

.card {
    background-color: #122742;
    border: none;
    /* padding: 32px */
    padding: 25px;
}

.card-text {
    font-size: 19px;
}

.card-footer a {
    font-size: 19px;
    color:#f54b4b;
}


.card-img-top {
    width: 50px;
    height: 50px;
}

#img_work {
    width: 60%;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #888888;
}


@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
        text-align: left;
    }

    #Heading5 {
        font-size: 20px;
        line-height: 1.2;

    }
  }

  #teamNames {
    font-weight: 400;
    margin-bottom: 0px;
  }

  #teamRole {
      opacity: .5;
  }

.line {
    height: 1px;
    clear: both;
    border-top: 1px solid hsla(0,0%,100%,.15);
    border-radius: 0;
    opacity: 1;
    padding: 48px 64px;
    background-color: transparent;
}

.team-board {
    width: 80%;
    margin-bottom: 10px;
    height: 60%;
}

.card-work {
    opacity: .5;
    font-size: 1em;
}
