/* Code for customization for KEFA ONLY */

nav {
    background: #122742;
    border-bottom: antiquewhite;
    justify-content: space-around;
}

nav a {
    color: antiquewhite;
}

nav ul li a {
    color: antiquewhite;
}

#ForeContent {
    background: #122742;
    height: 40vh;
    color:white;
}


