/* Code for customization for KEFA ONLY */

section {
    background: #122742;
    color: antiquewhite;
}

nav {
    background: #122742;
    border-bottom: antiquewhite;
    justify-content: space-around;
}

nav ul li a {
    color: antiquewhite;
}

nav ul li {
    padding-left: .9em;
    padding-right: .9em;
    font-weight: 600;
    font-size: 18px;
}

#ForeContent {
    background: #122742;
    height: 40vh;
    color:white;
    
}

#ForeImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#HeadingFore {
    font-weight: bolder;
    font-size: 42px;
}

#Heading5 {
    font-size: 25px ;
}

#Heading2 {
    font-weight: bolder;
    font-size: 38px;
}

#subheading2 {
    font-size: 22px;
}

#about {
    height: auto;
    padding-top: 128px;
    padding-bottom: 70px;
}

.card {
    background-color: #122742;
    border: none;
    padding: 32px
}

.card-text {
    font-size: 19px;
}

.card-footer a {
    font-size: 19px;
    color:#f54b4b;
}


.card-img-top {
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
        text-align: left;
    }

    #Heading5 {
        font-size: 20px;
        line-height: 1.2;

    }
  }

  #teamNames {
    font-weight: 400;
    margin-bottom: 0px;
  }

  #teamRole {
      opacity: .5;
  }

.line {
    height: 1px;
    clear: both;
    border-top: 1px solid hsla(0,0%,100%,.15);
    border-radius: 0;
    opacity: 1;
    padding: 48px 64px;
    background-color: transparent;
}

.team-board {
    width: 80%;
    margin-bottom: 10px;
    height: 60%;
}

.img-placeholder {
    background: rgb(97, 121, 128); 
    border: none;
}



/* image overlay css code */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

