/* Code for customization for KEFA ONLY */

section {
    background: #122742;
    color: antiquewhite;
}

nav {
    background: #122742;
    border-bottom: antiquewhite;
    justify-content: space-around;
}

nav ul li a {
    color: antiquewhite;
}

nav ul li {
    padding-left: .9em;
    padding-right: .9em;
    font-weight: 600;
    font-size: 18px;
}

.support-btn {
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
}

.subscribe-btn {
    font-weight: 600;
    font-size: 20px;
    color: antiquewhite;
    border-radius: 50px;
    background: #f54b4b;
    border: #f7a66e;
    text-transform: uppercase;
}

#ForeContent {
    background: #122742;
    /* height: 40vh; */
    color:white;
    
}

#ForeImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#HeadingFore {
    font-weight: bolder;
    font-size: 42px;
}

#Heading5 {
    font-size: 24px ;
    color: hsla(0,0%,100%,.75);
}

#Heading2 {
    font-weight: bolder;
    font-size: 38px;
}

#subheading2 {
    font-size: 25px;
    font-weight: bold;
}

#about {
    height: auto;
    padding-top: 128px;
    padding-bottom: 70px;
}

.card {
    background-color: #122742;
    border: none;
    /* padding: 32px */
    padding: 25px;
}

.card-cost{
    background: #afcffa;
}

.card-text {
    font-size: 17px;
    color: hsla(0,0%,100%,.75);
}

.card-footer a {
    font-size: 19px;
    color:#f54b4b;
}


.card-img-top {
    width: 50px;
    height: 50px;
}

#img_work {
    width: 40%;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #888888;
}

#img_approach {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ext-link {
    font-size: smaller;
    color: #dd874a;
}

.ext-link-cost {
    font-size: smaller;
    color: green; 
}

.heading-metric {
    color: #dd874a;
}

.p-metric {
    font-size: 16px;
}


@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
        text-align: left;
    }

    #Heading5 {
        font-size: 20px;
        line-height: 1.2;

    }

    .img-benefits {
        height:auto;
    }
}

#teamNames {
    font-weight: 400;
    margin-bottom: 0px;
    font-size: 16px;
}

#teamRole {
    opacity: .5;
    font-size: 14px;
}

.line {
    height: 1px;
    clear: both;
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
    border-radius: 0;
    opacity: 1;
    padding: 40px;
    background-color: transparent;
}

.line-between {
    height: 1px;
    clear: both;
    border-top: 1px dotted rgba(102, 99, 99, 0.5);
    border-radius: 0;
    opacity: 1;
    padding: 30px;
    background-color: transparent; 
}

.team-board {
    width: 80%;
    margin-bottom: 10px;
    height: auto;
}

.text-work {
    opacity: .5;
    font-size: 1em;
}

.card-future {
    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);  
    width: 90%;
}

.card-future:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);  
    border-color: #1c913b;
}

.card-hover-approach:hover {
    background: rgba(5, 21, 36, 0.2);
    border-color: #1c913b;

}

.card-bg-vision {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/Earth-From-Space.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.card-bg-plan {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/five.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.card-bg-launchpad {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/event-space.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.ext-link:hover {
    color: orangered;
}

.card-border {
    /* box-shadow: 1px 1px 8px #504e4e; */
    width: 90%;
    border: 1px dotted rgba(136, 132, 132, 0.5);
}

.card-medium:hover {
    background: rgba(38, 94, 66, .5);
}

.card-twitter:hover {
    background: rgba(83, 83, 161, .5) 
}

.card-linkedin:hover {
    background: rgba(15, 6, 66, .5)
}

.card-youtube:hover {
    background: rgba(245, 75, 75, .2);
}

.img-hover:hover .image {
    opacity: 1;
}

.img-hover:hover .info-span {
    /* color: #dc3545; */
    color: rgb(138, 32, 26);
}

.image {
    opacity: .8;
    position: relative;
}

.info-span {
    /* color: rgb(121, 28, 23); */
    color: rgb(219, 197, 197);
    width: 50px;
    height: 50px;
    font-size: x-large;
}

#link-products {
    color: #f7a66e;
    font-size: 15px; 
}


.approach-span {
    font-size: x-large;
}

.btn-people {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: .95em;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 40px;
}

.modal {
    color: rgb(25, 27, 29, .8);
}


/* footer css */
.list-footer {
    list-style-type: none;
}

.list-footer a {
    color: #8e8e8e;
    text-decoration: none;
}

.list-footer a:hover {
    color:orange;
}

.heading-footer {
    font-size: 1.1em;
    margin-bottom: .9em;
    text-align: left;
    font-weight: 600;
}

.sub_footer-col {
    border-right: #3a3a3a dotted 2px;
}

.footer-location {
    border-top: #3a3a3a dotted 2px;
}

.sub_footer {
    background: hsl(208.6, 100%, 6.5%);
}

.footer {
    background: #00070e;
}

.icons {
    color: whitesmoke;
}

.icons:hover {
    color: orange;
}

.support-btn-footer {
    font-weight: 600;
    font-size: 18px;
    border-radius: 50px;
    color: white;
}

.email-links {
    color: azure;
}

#maps {
    color: #8e8e8e;
    text-decoration: none;
}

#maps:hover {
    color: orange;
}

#See_latest {
    opacity: .8; 
    color:#f7a66e;
}

#See_latest:hover {
    color:orange;
}

.work-tag {
    color: #30a953;
    font-weight: bold
}

.image-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lato', sans-serif;
    border-top: 3px solid white;
    padding: 5px;
    border-bottom: 3px solid white;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.2s;
}



/* css for intern program */

.section-intern-fore {
    background: #eff3f9;
    color: rgb(49, 47, 47);
    height: 80vh;
}

.section-intern-about {
    background: white;
    color: rgb(49, 47, 47);
    height: auto;
}

.img-intern {
    box-shadow:rgb(175, 191, 199) 3px 3px 5px 4px
}

.btn-apply {
    border-radius: 50px;
    background: #e9443c;
    border: none;
}

.btn-apply-secondary {
    border-radius: 50px;
}

.card-intern {
    background: whitesmoke ;
    color: #010c16;
    padding: 20px;
    font-size: 15px;
}

.card-intern h5 {
    font-weight: bold; 
    font-size: 1.2em;
    color: rgb(49, 47, 47);
}

.card-intern p {
    font-size: 1.1em;
}

.section-intern-card {
    padding: 30px;
}

.card-img-intern {
    width: 80px;
    height: 80px;
}

.section-intern-benefits {
    /* background: rgb(250, 254, 255); */
    background: rgb(244, 246, 247);
    color: rgb(49, 47, 47);
}

.section-intern-benefits .container h5 {
    font-weight: bold;
    font-size: 1em;
    color: rgb(49, 47, 47);
}

.img-benefits {
    height: 300px;
    object-fit: contain;
}

.line-benefits {
    height: 1px;
    clear: both;
    border-top: 1px dotted rgba(8, 8, 8, 0.15);
    border-radius: 0;
    opacity: 1;
    padding: 20px 30px;
    background-color: transparent; 
}

.line-interns {
    height: 1px;
    clear: both;
    border-top: 1px dotted rgba(175, 169, 169, 0.15);
    border-radius: 10px;
    opacity: 1;
    padding: 20px 30px;
    background-color: transparent; 
    margin-left: 30px;
    margin-right: 30px;
}

.teamNames {
    font-weight: 400;
    margin-bottom: 0px;
    font-size: smaller;
    line-height: 1.5em;
}

.teamRole {
    opacity: .5;
    font-size: small;
    line-height: 1.5em;
}

.img-interns {
    position: relative;
}

.imghvr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(233, 68, 60, 0.6);
}

.sm-icons {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
  }

.img-interns:hover .imghvr{
    opacity: 1;
}

#p-cycle {
    font-size: 17px;
}



/* css for power speaker series */

.bg-image-fore {
    background: linear-gradient(rgba(0, 113, 165,0.5), rgba(216, 37, 94,0.75)),url("../../img/sideview.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%
}

.icon-mic {
    font-size: xx-large;
}

.power-event1 {
    background: #eff3f9;
    color: rgb(49, 47, 47);
}

.btn-power {
    border-radius: 50px;
    font-size: 18px;
}

.btn-power span {
    font-weight: 500;
    color: #3a3a3a;
}

.text-scott {
    font-size: .85em;
}

.gallery{
    background: #122742;
    height: auto;
}

.img-chacon {
    height: 160px;
    width: 302px;
    object-fit: contain;    
}

.row-gallery{
    display: none;
}

#load {
    color: white;
    border-radius: 0;
    border-color: #eff3f9;
}

.power-event2 {
    background: #eff3f9;
    color: rgb(49, 47, 47);
}

.img-sameer-evt{
    height: 306px;
    object-fit: contain;
}

.row-gallery2{
    display: none;
}

#load2 {
    color: white;
    border-radius: 0;
    border-color: #eff3f9;
}

.img-sameer {
    height: 170px;
    object-fit: contain;
}

.power-subscribe {
    background: #eff3f9;
    color: rgb(49, 47, 47); 
    height: 40vh;
}


/* css for product catalogue */
.bg-product-fore {
    /* background: linear-gradient(rgba(0, 113, 165,0.5), rgba(216, 37, 94,0.75)),url("../../img/ProductDev.jpg"); */
    background: url("../../img/ProductDev.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    object-fit: contain;
}

.btn-down {
    font-size: xx-large;
    color: #eff3f9
}

.btn-down:hover {
    color: orangered
}

.projects-lifecycle {
    background: #eff3f9;
    color: #3a3a3a;
    height: 100%;
}

#prod-desc{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.beta-header {
    background:#32af54;
}

.beta-desc {
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    font-weight: bold;
    font-size: 17px;
}

.beta-header2 {
    border: 3px solid #32af54;
}

.alpha-header {
    background:#e8443b;
}

.alpha-desc {
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    font-weight: bold;
    font-size: 17px;
}

.alpha-header2 {
    border: 3px solid #e8443b;
}

.line-products {
    height: 3px;
    clear: both;
    /* border-top: 2px solid rgba(41, 40, 40, 0.8); */
    border-top: 2px solid green;
    opacity: 1;
    padding: 5px;
    background-color: transparent; 
}

#subheading-projects {
    font-size: 30px;
    font-weight: bold;
}

.btn-resources {
    color: black;
    border-radius: 0;
    border-color: #e0a904;
}

.projects-text-color {
    color: #1c913b;
    font-weight: 600;
}

.projects-text {
    font-weight: 500;
}

.product-video {
    display: none;
}


/* css for vision page */

.bg-vision-fore {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/Earth-From-Space.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    object-fit: contain;
}

.icon-rocket {
    font-size: xx-large;
    opacity: 1;
}

.icon-arrow {
    font-size: larger;
}

.icon-arrow:hover {
    color: orangered;
}


.future-section {
    /* background: #eff3f9; */
    background:  linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    object-fit: contain;
    color: #3a3a3a;
    height: 100%;
}

.vision2030 {
    color: #1c913b;
}

.vision3 {
    border: 1px dashed grey;
}

.p-vision-2030 {
    color: rgb(190, 184, 184);
}


/* five year plan css */
.bg-plan-fore {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/five.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    object-fit: contain;
}

.icon-pen {
    font-size: x-large;
}

.plan-section {
    background: white;
    color: rgb(36, 34, 34);
}


/* launchpad css */
.bg-launchpad-fore {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/bck.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    object-fit: contain;
}


/* Ecosystem catalyst css */
.bg-catalyst-fore {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.9)), url("../../img/lion_sunset.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    object-fit: contain;
}


/* Donation page css */
.bg-donation-fore {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(12, 12, 12, 0.9)), url("../../img/interns-roundtable.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    object-fit: contain;
}

.icon-donation {
    font-size: 45px;
}

.donate-btn{
    background: #fcd15b;
    border-radius: 50px;
    border: #fcd15b;
    font-size: large;
}

.btn-donate {
    border-radius: 50px;
    font-size: large;
}

.bg-cost-breakdown {
    background: whitesmoke;
    color: #3a3a3a;
}

.span-cost {
    font-size: 20px;
}

.p-cost {
    font-size: 16px;
}

.donate-testimonial {
    background: #d9dee6;
    color: #3a3a3a;
}

.img-testimonial {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.heading-color {
    color: #1b2f49;
}

.heading-donation {
    max-width: 650px;
    margin: 0 auto;
}

.span-donate {
    font-size: medium;
    color: #d5cd8e;
    font-weight: bold;
}


