/* Code for customization for KEFA ONLY */

section {
    background: #122742;
    color: antiquewhite;
}

nav {
    background: #122742;
    border-bottom: antiquewhite;
    justify-content: space-around;
}

nav ul li a {
    color: antiquewhite;
}

nav ul li {
    padding-left: .9em;
    padding-right: .9em;
    font-weight: 600;
    font-size: 18px;
}

.support-btn {
    font-weight: 600;
    font-size: 18px;
    border-radius: 50px;
}

.subscribe-btn {
    font-weight: 600;
    font-size: 20px;
    color: antiquewhite;
    border-radius: 50px;
    background: #f54b4b;
    border: #f7a66e;
    text-transform: uppercase;
}

#ForeContent {
    background: #122742;
    height: 40vh;
    color:white;
    
}

#ForeImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#HeadingFore {
    font-weight: bolder;
    font-size: 42px;
}

#Heading5 {
    font-size: 24px ;
}

#Heading2 {
    font-weight: bolder;
    font-size: 38px;
}

#subheading2 {
    font-size: 25px;
    font-weight: bold;
}

#about {
    height: auto;
    padding-top: 128px;
    padding-bottom: 70px;
}

.card {
    background-color: #122742;
    border: none;
    /* padding: 32px */
    padding: 25px;
}

.card-text {
    font-size: 19px;
}

.card-footer a {
    font-size: 19px;
    color:#f54b4b;
}


.card-img-top {
    width: 50px;
    height: 50px;
}

#img_work {
    width: 60%;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #888888;
}


@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
        text-align: left;
    }

    #Heading5 {
        font-size: 20px;
        line-height: 1.2;

    }

    .img-benefits {
        height:auto;
    }
}

  #teamNames {
    font-weight: 400;
    margin-bottom: 0px;
  }

  #teamRole {
      opacity: .5;
  }

.line {
    height: 1px;
    clear: both;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0;
    opacity: 1;
    padding: 48px 64px;
    background-color: transparent;
}

.line-between {
    height: 1px;
    clear: both;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0;
    opacity: 1;
    padding: 26px 64px;
    background-color: transparent; 
}

.team-board {
    width: 80%;
    margin-bottom: 10px;
    height: auto;
}

.text-work {
    opacity: .5;
    font-size: 1em;
}

.card-hover:hover {
    background: #051524;
}

.card-medium:hover {
    background: rgba(38, 94, 66, .5);
}

.card-twitter:hover {
    background: rgba(83, 83, 161, .5) 
}

.card-linkedin:hover {
    background: rgba(15, 6, 66, .5)
}

.card-youtube:hover {
    background: rgba(245, 75, 75, .2);
}

.img-hover:hover .image {
    opacity: 1;
    
}

.image {
    opacity: .8;
    position: relative;
}

.btn-people {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: .95em;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 40px;
}

.modal {
    color: rgb(25, 27, 29, .8);
}

.list-footer {
    list-style-type: none;
}

.list-footer li {
    color: #8e8e8e;
}

.list-footer a{
    text-decoration: none;
}

.list-footer li:hover {
    color:orange;
}

.heading-footer {
    font-size: 1.1em;
    margin-bottom: .9em;
    text-align: left;
    font-weight: 600;
}

.sub_footer-col {
    border-right: #3a3a3a dotted 2px;
}

.footer-location {
    border-top: #3a3a3a dotted 2px;
}

#maps {
    color: #8e8e8e;
    text-decoration: none;
}

#maps:hover {
    color: orange;
}

#See_latest {
    opacity: .8; 
    color:#f7a66e;
}

#See_latest:hover {
    color:orange;
}

.work-tag {
    color: #30a953;
    font-weight: bold
}

.sub_footer {
    background: #010c16;
}

.footer {
    background: #00070e;
}


/* css for intern program */

.section-intern-fore {
    background: #eff3f9;
    color: rgb(49, 47, 47);
    height: 80vh;
}

.section-intern-about {
    background: white;
    color: rgb(49, 47, 47);
    height: auto;
}

.img-intern {
    box-shadow: rgb(135, 147, 153) 10px 10px 40px 20px;
}

.btn-apply {
    border-radius: 50px;
    background: #e9443c;
    border: none;
}

.card-intern {
    background: whitesmoke ;
    color: #010c16;
    padding: 20px;
    font-size: 15px;
}

.card-intern h5 {
    font-weight: bold; 
    font-size: 1.2em;
    color: rgb(49, 47, 47);
}

.card-intern p {
    font-size: 1.1em;
}

.section-intern-card {
    padding: 30px;
}

.card-img-intern {
    width: 80px;
    height: 80px;
}

.section-intern-benefits {
    /* background: rgb(250, 254, 255); */
    background: rgb(244, 246, 247);
    color: rgb(49, 47, 47);
}

.section-intern-benefits .container h5 {
    font-weight: bold;
    font-size: 1em;
    color: rgb(49, 47, 47);
}

.img-benefits {
    height: 300px;
}

.line-benefits {
    height: 1px;
    clear: both;
    border-top: 1px dotted rgba(8, 8, 8, 0.15);
    border-radius: 0;
    opacity: 1;
    padding: 20px 30px;
    background-color: transparent; 
}

.line-interns {
    height: 1px;
    clear: both;
    border-top: 1px dotted rgba(175, 169, 169, 0.15);
    border-radius: 10px;
    opacity: 1;
    padding: 20px 30px;
    background-color: transparent; 
    margin-left: 30px;
    margin-right: 30px;

}



