
h6{
  font-weight: normal;
  font-size: medium;
}

.year1{
  display: inline-block;
  font-size: 1.5em  ;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.list1 {
  display: block;
  font-size: 120px;
  color: orange;
}

.con {
  color:orange;
  margin: 0 auto;
  
}










