button {
    @extend input;
    cursor: pointer;
    border: 0;
    background: $yellow;
    color: $dark;
    padding: 0 $size;
    height: $size;
    line-height: $size;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    &:focus { border: 0; }
    &:hover { background: $dark; color: $yellow; }
  }
  .v1 {
    border-bottom: 1px solid $m-gray;
    height: $size / 2;
    i {
      color: $dark;
      background: $white;
      cursor: pointer;
      text-align: center;
      width: $size; height: $size; line-height: $size;
      @include transition(all, 0.6s, ease);
    }
  }
  .v2 {
    text-align: center;
    height: $size;
    &:after { content:''; width: 100%; height: 1px; display: block; position: relative; z-index: -1; margin-top: - $size / 2; border-bottom: 1px solid $m-gray; }
    div {
      margin: 0 auto;
      cursor: pointer;
      @include transition(all, 0.4s, ease);
      @include box-sizing(border-box);
      padding-top: 18px;
      height: $size; width: $size; border-radius: $size; background: $white;
    }
    div i {
      display: block;
      margin: auto;
      height: 3px;
      width: 30px;
      background: $dark;
    }
    div:before,
    div:after {
      content: "";
      margin: 0 auto;
      display: block;
      width: 30px;
      height: 3px;
      background: $dark;
      @include transition(all, 0.3s, ease);
    }
    div:before { margin-bottom: 7px; }
    div:after { margin-top: 7px; }
    div.close i { display: none; }
    div.close:before { @include transform(45deg, 7px, 7px); background: $blue; }
    div.close:after { @include transform(-45deg, 0, 0); background: $blue; }
  }
  .open i { @include transform(270deg, 0, 0); color: $blue; }
  .expansive {
    display: none;
  }
  