@media screen and (max-width: 600px) {
    .pdf-holder{
        width:380px;
        height:450px;  
    }
}
@media screen and (max-width:800px){
    .pdf-holder{
        width:650px;
        height:700px;
    }
}

@media screen and (min-width:1500px){
    .pdf-holder{
        width:850px;
        height:900px;
    }
}
@media screen and (min-width:1800px){
    .pdf-holder{
        width:850px;
        height:900px;
    }
}